.hero {
  padding-top: 140px;
  padding-bottom: 100px;

  background-image: url(../img/mobile/hero-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 752px) {
    background-image: none;
  }

  @media screen and (min-width: 1344px) {
    background-image: none;
  }

  & > .container {
    // @media screen and (min-width:367px) {
    //   background-image: none;
    // }

    @media screen and (min-width: 752px) {
      background-image: url(../img/tablet/hero-tablet1@1x.webp),
        url(../img/tablet/hero-tablet2@1x.webp);
      background-position: 5% 60%, 94% 14%;
      background-size: 308px 330px, 364px 531px;
      background-repeat: no-repeat, no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/tablet/hero-tablet1@2x.webp),
          url(../img/tablet/hero-tablet2@2x.webp);
        background-repeat: no-repeat, no-repeat;
      }
    }

    @media screen and (min-width: 1344px) {
      background-image: url(../img/desktop/hero-desktop1@1x.webp),
        url(../img/desktop/hero-desktop2@1x.webp),
        url(../img/desktop/hero-desktop3@1x.webp);
      background-position: 2.33% 100%, 50% 39%, 97.7% 0%;
      background-size: auto 329px, auto 539px, auto 337px;
      background-repeat: no-repeat, no-repeat, no-repeat;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/desktop/hero-desktop1@2x.webp),
          url(../img/desktop/hero-desktop2@2x.webp),
          url(../img/desktop/hero-desktop3@2x.webp);
        background-repeat: no-repeat, no-repeat, no-repeat;
      }
    }
  }

  &__title {
    color: $footer-bcg-color;
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-right: 65px;

    @media screen and (min-width: 752px) {
      font-size: 50px;
      margin-right: 59px;
      line-height: 75px;
      margin-bottom: 410px;
      width: 648px;
    }

    @media screen and (min-width: 1344px) {
      margin-bottom: 246px;
    }
  }

  &__text {
    color: $footer-bcg-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 28px;
    margin-right: 16px;

    @media screen and (min-width: 752px) {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 30px;
      width: 310px;
    }

    @media screen and (min-width: 1344px) {
      margin-left: 990px;
    }
  }

  &__btn {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: $footer-bcg-color;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 65px;
    padding-left: 65px;

    @media screen and (min-width: 752px) {
      font-size: 18px;
      padding-top: 17px;
      padding-bottom: 17px;
    }

    @media screen and (min-width: 1344px) {
      margin-left: 990px;
    }
  }
}
