.container{
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;

    @media screen and  (min-width:367px) {
        width: 367px;
    }

    @media screen and  (min-width:727px) {
        width: 727px;
    }

    @media screen and  (min-width: 1344px) {
        width: 1344px;
    }
}