%animation {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 300ms;
}

%decoration {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

%line {
  width: 100%;
  height: 2px;
  background-color: $footer-links-color;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0;
}

%about-line{
    width: 30px;
      height: 1px;
      background-color: $about-text-color;
}
