$header-logo-color:#0A224A;
$text-color:#0A224A;
$title-color:#0A224A;
$btn-bcg-color:#0A224A;
$reviews-sub-color:#7A7A7A;
$reviews-bcg-color:#F7FAFF;
$reviews-item-bcg:#FFF;
$footer-links-color:#FFF;
$footer-logo-color:White;
$footer-bcg-color:#0A224A;
$footer-icon-fill:White;
$footer-text-color:White;
$footer-copywright-color:#7A7A7A;