<section class="best">
    <div class="container">
        <h1 class="best__title">Bestsellers</h1>
        <ul class="best__list">
            <li class="best__item">
        <picture>
            <source srcset="./img/desktop/best-bed-desktop@1x.webp 1px, ./img/desktop/best-bed-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/best-bed-tablet@1x.webp 1x, ./img/tablet/best-bed-tablet@2x.webp 2x" media="(min-width: 732px)">
            <source srcset="./img/mobile/best-bed-mobile@1x.webp 1x, ./img/mobile/best-bed-mobile@2x.webp 2x" media="(min-width: 731px)">
            <img src="./img/bed.webp" alt="bed" class="best__img">
        </picture>
        <p class="best__name">The modern platform bed</p>
        <h2 class="best__price">750$</h2>
      </li>
            <li class="best__item">
                <picture>
            <source src="./img/desktop/best-chairs-mobile@1x.webp 1x, ./img/desktop/best-chairs-mobile@2x.webp 2x" media="(min-width: 1344px)">
            <source src="./img/tablet/best-chair-tabket@1x.webp 1x, ./img/tablet/best-chair-tabket@2x.webp 2x," media="(min-width: 732px)">
            <source src="./img/mobile/best-chairs-mobile@1x.webp 1x, ./img/mobile/best-chairs-mobile@2x.webp 2x " media="(min-width: 731px)">
            <img src="../img/chairs.webp" alt="bed" class="best__img">
        </picture>
                <p class="best__name">The Cozy Lounge Chair</p>
                <h2 class="best__price">230$</h2>
            </li>
            <li class="best__item">
                <img src="" alt="" class="best__img">
                <p class="best__name"></p>
                <h2 class="best__price"></h2>
            </li>
            <li class="best__item">
                <img src="" alt="" class="best__img">
                <p class="best__name"></p>
                <h2 class="best__price"></h2>
            </li>
            <li class="best__item">
                <img src="" alt="" class="best__img">
                <p class="best__name"></p>
                <h2 class="best__price"></h2>
            </li>
        </ul>
    </div>
</section>