<section class="best">
    <div class="container">
        <h1 class="best__title">Bestsellers</h1>
        <ul class="best__list">
            <li class="best__item">
                <picture>
            <source srcset="./img/desktop/best-sofa-desktop@1x.webp 1x, ./img/desktop/best-sofa-desktop@1x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/best-sofa-tablet@1x.webp 1x,./img/tablet/best-sofa-tablet@2x.webp 2x," media="(min-width: 727px)">
            <source srcset="./img/mobile/best-sofa-mobile@1x.webp 1x, ./img/mobile/best-sofa-mobile@2x.webp 2x " media="(min-width: 726px)">
            <img src="./img/sofa.webp" alt="sofa" class="best__img">
        </picture>
                <p class="best__name">The minimalist sofa</p>
                <h2 class="best__price">650$</h2>
            </li> 
            <li class="best__item">
                <picture>
            <source srcset="./img/desktop/best-shelf-desktop@1x.webp 1x, ./img/desktop/best-shelf-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/best-shelf-tablet@1x.webp 1x,./img/tablet/best-shelf-tablet@2x.webp 2x," media="(min-width: 752px)">
            <source srcset="./img/mobile/best-shelf-mobile@1x.webp 1x, ./img/mobile/best-shelf-mobile@2x.webp 2x " media="(min-width: 751px)">
            <img src="./img/shelf.webp" alt="shelf" class="best__img">
        </picture>
                <p class="best__name">The sleek stand</p>
                <h2 class="best__price">300$</h2>
            </li>
            <li class="best__item">
                <picture>
            <source srcset="./img/desktop/best-table-desktop@1x.webp 1x, ./img/desktop/best-table-desktop@2x.webp 2x " media="(min-width: 1344px)">
            <source srcset="./img/tablet/best-table-tablet@1x.webp 1x,./img/tablet/best-table-tablet@2x.webp 2x," media="(min-width: 752px)">
            <source srcset="./img/mobile/best-table-mobile@1x.webp 1x, ./img/mobile/best-table-mobile@2x.webp 2x " media="(min-width: 751px)">
            <img src="./img/table.webp" alt="table" class="best__img">
        </picture>
                
                <p class="best__name">The industrial accent chair</p>
                <h2 class="best__price">250$</h2>
            </li>
            <li class="best__item">
                <picture>
            <source src="./img/mobile/best-chairs-mobile@1x.webp 1x, ./img/mobile/best-chairs-mobile@2x.webp 2x" media="(min-width: 1344px)">
            <source src="./img/tablet/best-chairs-tablet@1x.webp 1x, ./img/tablet/best-chairs-tablet@2x.webp 2x," media="(min-width: 752px)">
            <source src="./img/mobile/best-chairs-mobile@1x.webp 1x, ./img/mobile/best-chairs-mobile@2x.webp 2x " media="(min-width: 751px)">
            <img src="./img/chairs.webp" alt="chair" class="best__img">
        </picture>
        <div class="best__box">
                <p class="best__name">The Cozy Lounge Chair</p>
                <h2 class="best__price">230$</h2>
                </div>
            </li> 
            <li class="best__item">
        <picture>
            <source srcset="./img/desktop/best-bed-desktop@1x.webp 1px, ./img/desktop/best-bed-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/best-bed-tablet@1x.webp 1x, ./img/tablet/best-bed-tablet@2x.webp 2x" media="(min-width: 752px)">
            <source srcset="./img/mobile/best-bed-mobile@1x.webp 1x, ./img/mobile/best-bed-mobile@2x.webp 2x" media="(min-width: 751px)">
            <img src="./img/bed.webp" alt="bed" class="best__img">
        </picture>
        <p class="best__name">The modern platform bed</p>
        <h2 class="best__price">750$</h2>
      </li>
        </ul>
    </div>
</section>