<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button class="header__btn">
        <svg class="header__icon">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </button>
      <div class="header__box">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Prices</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Bestsellers</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Reviews</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Contacts</a>
          </li>
        </ul>
      </div>
      <button class="header__button" type="button" data-mobile-open>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path d="M35 16.6667H5" stroke="#0A224A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M35 10H5" stroke="#0A224A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M35 23.3333H5" stroke="#0A224A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M35 30H5" stroke="#0A224A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
      </button>
    </nav>
  </div>
</header>