<header class="header">
  <div class="container">
    <nav class="header__nav">
      <button class="header__btn">
        <svg class="header__icon">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </button>
      <div class="header__box">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">About us</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Our products</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Prices</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Bestsellers</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Reviews</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Contacts</a>
          </li>
        </ul>
      </div>
      <button class="header__btn" type="button">
        <svg class="header__menu">
          <use href="./img/symbol-defs.svg#icon-menu" data-mobile-open></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
