<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul class="mobile__list">
            <li class="mobile__item"><a href="" class="mobile__link">About us</a></li>
            <li class="mobile__item"><a href="" class="mobile__link">Our products</a></li>
            <li class="mobile__item"><a href="" class="mobile__link">Prices</a></li>
            <li class="mobile__item"><a href="" class="mobile__link">Bestsellers</a></li>
            <li class="mobile__item"><a href="" class="mobile__link">Reviews</a></li>
            <li class="mobile__item"><a href="" class="mobile__link">Contacts</a></li>
        </ul>
    </div>
</body>
</html>
