<section class="news">
    <div class="container">
        <h2 class="news__title">
             Newsletter
        </h2>
        <p class="news__text">
            Every week we will send you new designs and information about sales.
        </p>
        <label class="news__label">
            <input type="text" class="news__input" required placeholder="Name">
        </label>
        <label class="news__label">
            <input type="text" class="news__input" required placeholder="E-mail">
        </label>
        <input type="checkbox" class="news__checkbox">
        <p class="news__txt">
            Agree to subscribe to the newsletter
        </p>
        <button type="button" class="news__button">
            Send
        </button>
        <div class="news__img">
             <picture>
            <source src="./img/desktop/news-desktop@1x.webp 1x, ./img/desktop/news-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source src="./img/tablet/news-tablet@1x.webp 1x, ./img/tablet/news-tablet@2x.webp 2x" media="(min-width: 752px)">
            <source src="./img/mobile/news-mobile@1x.webp 1x, ./img/mobile/news-mobile@2x.webp 2x" media="(min-width: 751px)">
            <img src="../img/tablet/news-sofa.webp" alt="sofa">
        </picture>
        </div>
    </div>
</section>