<section class="prices">
    <div class="container">
    <ul class="prices__list">
        <li class="prices__item">
           <h2 class="prices__titlee">
                Chairs
           </h2>
           <p class="prices__price">
            from 200₴
           </p>
        </li>
        <li class="prices__item">
            <h2 class="prices__title">
                Tables
           </h2>
           <p class="prices__price">
            from 250₴
           </p>
        </li>
        <li class="prices__item">
<h2 class="prices__title">
                Dressers
           </h2>
           <p class="prices__price">
            from 300₴
           </p>
        </li>
        <li class="prices__item">
<h2 class="prices__title">
                Sofas
           </h2>
           <p class="prices__price">
            from 500₴
           </p>
        </li>
    </ul>
    </div>
</section>
