<section class="products">
    <div class="container">
        <h1 class="products__title">OUR PRODUCTS</h1>
        <ul class="products__list">
            <li class="products__item">
                <picture>
            <source srcset="./img/desktop/products-shelf-desktop@1x.webp 1x, ./img/desktop/products-shelf-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/products-shelf-tablet@1x.webp 1x, ./img/tablet/products-shelf-tablet@2x.webp 2x" media="(min-width: 727px)">
            <source srcset="./img/mobile/products-shelf-mobile@1x.webp 1x, ./img/mobile/products-shelf-mobile@2x.webp 2x" media="(min-width: 726px)">
            <img src="./img/shelf.webp" alt="shelf" class="products__img">
        </picture>
        <p class="products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae excepturi sit enim pariatur officia facere reiciendis ex tempore quisjj</p>
                <p class="products__text">Minimalist storage solutions</p>
            </li>
            <li class="products__item">
                <picture>
            <source srcset="./img/desktop/products-sofa-desktop@1x.webp 1x, ./img/desktop/products-sofa-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/products-sofa-tablet@1x.webp 1x, ./img/tablet/products-sofa-tablet@2x.webp 2x" media="(min-width: 727px)">
            <source srcset="./img/mobile/products-sofa-mobile@1x.webp 1x, ./img/mobile/products-sofa-mobile@2x.webp 2x" media="(min-width: 726px)">
            <img src="./img/sofa.webp" alt="sofa" class="products__img">
        </picture>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati possimus dolore fugiat labore corporis in perferendis consectetur sequi </p>
                <p class="products__text">Handcrafted minimalist seating</p>
            </li>
            <li class="products__item">
                <picture>
            <source srcset="./img/desktop/products-table-desktop@1x.webp 1x, ./img/desktop/products-table-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/products-table-tablet@1x.webp 1x, ./img/tablet/products-table-tablet@2x.webp 2x" media="(min-width: 727px)">
            <source srcset="./img/mobile/products-table-mobile@1x.webp 1x, ./img/mobile/products-table-mobile@2x.webp 2x" media="(min-width: 726px)">
            <img src="./img/table.webp" alt="table" class="products__img">
        </picture>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati possimus dolore fugiat labore corporis in perferendis consectetur sequi </p>
                <p class="products__text">Sleek and simple tables</p>
            </li>
            <li class="products__item">
                <picture>
            <source srcset="./img/desktop/products-chair-desktop@1x.webp 1x, ./img/desktop/products-chair-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/tablet/products-chair-tablet@1x.webp 1x, ./img/tablet/products-chair-tablet@2x.webp 2x" media="(min-width: 727px)">
            <source srcset="./img/mobile/products-chair-mobile@1x.webp 1x, ./img/mobile/products-chair-mobile@2x.webp 2x" media="(min-width: 726px)">
            <img src="./img/chair.webp" alt="chair" class="products__img">
        </picture>
        <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati possimus dolore fugiat labore corporis in perferendis consectetur sequi </p>
                <p class="products__text">Minimalist seating for every space</p>
            </li>
        </ul>
    </div>
</section>