<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Clients reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__box">
          <picture>
            <source srcset="./img/desktop/reviews-alexa-desktop@1x.webp 1x, ./img/desktop/reviews-alexa-desktop@2x.webp 2x" media="(min-width: 1200px)"/>
            <source srcset="./img/tablet/reviews-alexa-tablet@1x.webp 1x, ./img/tablet/reviews-alexa-tablet@2x.webp 2x" media="(min-width: 768px)"/>
            <source srcset="./img/mobile/reviews-alexa-mobile@1x.webp 1x, ./img/mobile/reviews-alexa-mobile@2x.webp 2x" media="(max-width: 767px)"/>
            <img src="./img/alexandra.webp" alt="Alexandra dream" class="reviews__image"/>
          </picture>
          <div class="reviews__wrap">
            <h2 class="reviews__heading">Alexandra dream</h2>
            <p class="reviews__sub">1 week ago</p>
          </div>
        </div>
        <p class="reviews__text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__box">
          <picture>
            <source srcset="./img/desktop/reviews-james-desktop@1x.webp 1x, ./img/desktop/reviews-james-desktop@2x.webp 2x" media="(min-width: 1200px)">
            <source srcset="./img/tablet/reviews-james-tablet@1x.webp 1x, ./img/tablet/reviews-james-tablet@2x.webp 2x" media="(min-width: 768px)">
            <img
            src="./img/james.webp"
            alt="James Williams"
            class="reviews__image"
          />
          </picture>
          <div class="reviews__wrap">
            <h2 class="reviews__heading">James Williams</h2>
            <p class="reviews__sub">A week ago</p>
          </div>
        </div>
        <p class="reviews__text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="reviews__item">
        <div class="reviews__box">
          <picture>
            <source srcset="../img/desktop/reviews-emily-desktop@1x.webp 1x, ../img/desktop/reviews-emily-desktop@2x.webp 2x" media="(min-width: 1200px)">
            <img
            src="./img/emily.webp"
            alt="Emily Watson"
            class="reviews__image"
          />
          </picture>
          <div class="reviews__wrap">
            <h2 class="reviews__heading">Emily Watson</h2>
            <p class="reviews__sub">3 weeks ago</p>
          </div>
        </div>
        <p class="reviews__text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
