a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto" sans-serif;
  background-color: #FFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid blue;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 367px) {
  .container {
    width: 367px;
  }
}
@media screen and (min-width: 727px) {
  .container {
    width: 727px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
  }
}

.header {
  background-color: #f7faff;
}
.header__nav {
  padding: 36px 0px;
  display: flex;
}
@media screen and (min-width: 727px) {
  .header__nav {
    padding-bottom: 27px;
    padding-top: 28px;
  }
}
@media screen and (min-width: 1344px) {
  .header__nav {
    padding: 26px 0px;
  }
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.header__icon {
  width: 127px;
  height: 16px;
}
.header__button {
  display: block;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1344px) {
  .header__button {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
  fill: red;
  position: absolute;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 425px;
  margin-right: auto;
}
.header__link {
  color: #0a224a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.header__box {
  display: none;
}
@media screen and (min-width: 1344px) {
  .header__box {
    display: block;
  }
}

.hero {
  padding-top: 140px;
  padding-bottom: 313px;
  background-image: url(../img/mobile/hero-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/mobile/hero-mobile@2x.webp);
  }
}
@media screen and (min-width: 727px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../img/tablet/hero-tablet1@1x.webp), url(../img/tablet/hero-tablet2@1x.webp);
    background-position: 16% 50.7%, 82% 21%;
    background-size: 308px 330px, 364px 531px;
  }
}
@media screen and (min-width: 727px) and (min-device-pixel-ratio: 2), screen and (min-width: 727px) and (min-resolution: 192dpi), screen and (min-width: 727px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/tablet/hero-tablet1@2x.webp), url(../img/tablet/hero-tablet2@2x.webp);
  }
}
@media screen and (min-width: 1344px) {
  .hero {
    background-image: url(../img/desktop/hero-desktop1@1x.webp), url(../img/desktop/hero-desktop2@1x.webp), url(../img/desktop/hero-desktop3@1x.webp);
    background-position: 6% 73.5%, 47% 39%, 93% 18%;
    background-size: auto 329px, auto 539px, auto 337px;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/desktop/hero-desktop1@2x.webp), url(../img/desktop/hero-desktop2@2x.webp), url(../img/desktop/hero-desktop3@2x.webp);
  }
}
.hero__title {
  color: #0A224A;
  font-family: "Playfair Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-right: 65px;
}
@media screen and (min-width: 727px) {
  .hero__title {
    font-size: 50px;
    margin-right: 59px;
    line-height: 75px;
    margin-bottom: 410px;
    width: 648px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__title {
    margin-bottom: 246px;
  }
}
.hero__text {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
  margin-right: 16px;
}
@media screen and (min-width: 727px) {
  .hero__text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
    width: 310px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__text {
    margin-left: 880px;
  }
}
.hero__btn {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #0A224A;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 65px;
  padding-left: 65px;
}
@media screen and (min-width: 727px) {
  .hero__btn {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__btn {
    margin-left: 880px;
  }
}

.about {
  padding-top: 64px;
}
@media screen and (min-width: 727px) {
  .about__wrapping {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.about__box {
  background: #F7FAFF;
}
.about__desc {
  color: #0A224A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.about__desc::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #0A224A;
}
@media screen and (min-width: 727px) {
  .about__desc {
    padding-top: 36px;
  }
}
@media screen and (min-width: 1344px) {
  .about__desc {
    margin-left: 69px;
  }
}
.about__title {
  color: #0A224A;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 727px) {
  .about__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1344px) {
  .about__title {
    width: 622px;
    margin-left: 69px;
  }
}
.about__text {
  color: #0A224A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 727px) {
  .about__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1344px) {
  .about__text {
    width: 622px;
    margin-left: 69px;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: 64px;
}
@media screen and (min-width: 727px) {
  .about__list {
    flex-direction: row;
    margin-bottom: 30px;
  }
}
.about__heading {
  color: #0A224A;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 5px;
}
.about__subtitle {
  color: #0A224A;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  width: 170px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 727px) {
  .about__subtitle {
    font-size: 18px;
  }
}
.about__image {
  width: 536px;
  height: 540px;
}

.best {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 732px) {
  .best {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.best__title {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media screen and (min-width: 732px) {
  .best__title {
    font-size: 32px;
    line-height: 45px;
  }
}
.best__item {
  margin-bottom: 30px;
}
.best__img {
  height: 193px;
  margin-bottom: 14px;
}
@media screen and (min-width: 732px) {
  .best__img {
    height: 489px;
  }
}
@media screen and (min-width: 1344px) {
  .best__img {
    width: 536px;
  }
}
.best__name {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
@media screen and (min-width: 732px) {
  .best__name {
    font-size: 18px;
    line-height: 27px;
  }
}
.best__price {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (min-width: 732px) {
  .best__price {
    font-size: 18px;
    line-height: 27px;
  }
}

.reviews {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #F7FAFF;
}
@media screen and (min-width: 1344px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.reviews__title {
  color: #0A224A;
  font-family: Roboto;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 727px) {
  .reviews__title {
    font-size: 32px;
  }
}
.reviews__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 727px) {
  .reviews__list {
    gap: 24px;
  }
}
.reviews__item {
  border-radius: 8px;
  background-color: #FFF;
  padding: 24px 23px 24px 24px;
}
.reviews__item:nth-child(2) {
  display: none;
}
.reviews__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 727px) {
  .reviews__item {
    padding: 29px 24px 24px 24px;
  }
  .reviews__item:nth-child(2) {
    display: block;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__item {
    padding: 37px 32px 32px 32px;
  }
  .reviews__item:nth-child(3) {
    display: block;
  }
}
.reviews__box {
  display: flex;
  align-items: center;
}
.reviews__image {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 727px) {
  .reviews__image {
    width: 56px;
    height: 56px;
  }
}
.reviews__wrap {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.reviews__heading {
  color: #0A224A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.77; /* 177.778% */
  text-transform: uppercase;
}
@media screen and (min-width: 727px) {
  .reviews__heading {
    font-size: 20px;
    line-height: 2.25;
  }
}
.reviews__sub {
  color: #7A7A7A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
}
@media screen and (min-width: 727px) {
  .reviews__sub {
    font-size: 16px;
    line-height: 1.5;
  }
}
.reviews__text {
  color: #0A224A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 24px;
}
@media screen and (min-width: 727px) {
  .reviews__text {
    font-size: 18px;
    line-height: 1.5;
  }
}

.footer {
  padding-top: 36px;
  padding-bottom: 16px;
  background-color: #0A224A;
}
@media screen and (min-width: 727px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
.footer__icon {
  width: 100px;
  height: 16px;
  fill: White;
}
@media screen and (min-width: 727px) {
  .footer__icon {
    width: 127.583px;
    height: 16.981px;
  }
}
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.footer__wrapping {
  display: flex;
  flex-direction: column-reverse;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 35px;
}
.footer__address {
  color: White;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  letter-spacing: 0.16px;
}
@media screen and (min-width: 727px) {
  .footer__address {
    font-size: 19px;
    line-height: 1.15;
  }
}
.footer__time {
  color: White;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  letter-spacing: 0.16px;
}
@media screen and (min-width: 727px) {
  .footer__time {
    font-size: 19px;
    line-height: 1.15;
  }
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
}
.footer__link {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
@media screen and (min-width: 727px) {
  .footer__link {
    font-size: 18px;
    line-height: 1.5;
  }
}
.footer__elems {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 64px;
}
.footer__itm:nth-child(3) {
  display: none;
}
.footer__contact {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.16px;
}
@media screen and (min-width: 727px) {
  .footer__contact {
    font-size: 19px;
    line-height: 1.15;
  }
}
.footer__social {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1344px) {
  .footer__social {
    gap: 30px;
  }
}
.footer__icons {
  width: 28px;
  height: 28px;
  fill: White;
}
@media screen and (min-width: 727px) {
  .footer__icons {
    width: 40px;
    height: 40px;
  }
}
.footer__text {
  color: #7A7A7A;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 1.188px;
}
@media screen and (min-width: 727px) {
  .footer__text {
    font-size: 14px;
    line-height: 1.25;
  }
}
.footer__terms {
  color: #7A7A7A;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.188px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (min-width: 727px) {
  .footer__terms {
    font-size: 14px;
    line-height: 1.25;
  }
}
.footer__policy {
  color: #7A7A7A;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.188px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (min-width: 727px) {
  .footer__policy {
    font-size: 14px;
    line-height: 1.25;
  }
}

.mobile {
  display: flex;
  width: 375px;
  padding-bottom: 365px;
  flex-direction: column;
  align-items: center;
  gap: 114px;
}
.mobile__link {
  color: #0A224A #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.mobile__menu {
  width: 32px;
  height: 32px;
}
.mobile__close {
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=main.css.map */