a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto" sans-serif;
  background-color: #FFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid blue;
  max-width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (min-width: 367px) {
  .container {
    width: 367px;
  }
}
@media screen and (min-width: 732px) {
  .container {
    width: 732px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
  }
}

.hero {
  padding-top: 140px;
  padding-bottom: 313px;
  background-image: url(/src/img/);
}
@media screen and (min-width: 720px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}
.hero__title {
  color: #0A224A;
  font-family: "Playfair Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}
@media screen and (min-width: 720px) {
  .hero__title {
    font-size: 50px;
    line-height: 75px;
  }
}
.hero__text {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 720px) {
  .hero__text {
    font-size: 18px;
    line-height: 27px;
  }
}
.hero__btn {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #0A224A;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 65px;
  padding-left: 65px;
}
@media screen and (min-width: 720px) {
  .hero__btn {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.best {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 732px) {
  .best {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.best__title {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
@media screen and (min-width: 732px) {
  .best__title {
    font-size: 32px;
    line-height: 45px;
  }
}
.best__item {
  margin-bottom: 30px;
}
.best__img {
  height: 193px;
  margin-bottom: 14px;
}
@media screen and (min-width: 732px) {
  .best__img {
    height: 489px;
  }
}
@media screen and (min-width: 1344px) {
  .best__img {
    width: 536px;
  }
}
.best__name {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
@media screen and (min-width: 732px) {
  .best__name {
    font-size: 18px;
    line-height: 27px;
  }
}
.best__price {
  color: #0A224A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (min-width: 732px) {
  .best__price {
    font-size: 18px;
    line-height: 27px;
  }
}/*# sourceMappingURL=main.css.map */